<header>
    <nav class="navbar">
        <a href="/">Home</a>
        <span class="separator">|</span>
        <a href="/contact">Contact Form</a>
        <span class="separator">|</span>
        <a href="/admin">Admin</a>
        <span class="separator">|</span>
        <a href="https://github.com/allenres/guestbook-form">GitHub Repo</a>
        <span class="separator">|</span>
        <a href="https://www.linkedin.com/in/allen-resulidze/">LinkedIn</a>
    </nav>
</header>
