<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/1484799.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/formValidation.js" defer></script>
    <title>Thank You</title>
</head>
<body>
    <div class="form-container">
            <h4>Your form has been submitted!</h4>
            <a href="/">Back To Homepage</a>
        </form>
    </div>
    <a href="https://github.com/allenres/guestbook-form">https://github.com/allenres/guestbook-form</a>
</body>
</html>