<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/1484799.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/header-style.css">
    <script src="js/formValidation.js" defer></script>
    <title>Contact Form</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="form-container">
        <h1>Contact Form</h1>
        <form action="/submit-form" id="form" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <span id="err-fname" class="error">Must enter your first name!</span>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <span id="err-lname" class="error">Must enter your last name!</span>                    
                    <input type="text" id="lname" name="lname">
                </div>
                <div class="form-group">
                    <label for="job-title">Job Title</label>
                    <input type="text" id="job-title" name="jobTitle">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>
                <div class="form-group">
                    <label for="lnk-in">LinkedIn URL</label>
                    <span id="err-url" class="error">Must enter valid URL! https://linkedin.com/in/</span>
                    <input type="text" id="lnk-in" name="lnkIn">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <span id="err-email" class="error">Your email must be valid!</span>
                    <input type="text" id="email" name="email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group meeting-select">
                    <label for="meeting">How did we meet?</label>
                    <span id="err-meeting" class="error">Must select an option!</span>
                    <select name="meeting" id="meeting">
                        <option value="none">Please select</option>
                        <option value="online">Online</option>
                        <option value="in-person">In-Person</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group meeting-other" id="other-meeting-group">
                    <label for="meeting-other">Other (please specify)</label>
                    <input type="text" id="meeting-other" name="meetingOther">
                </div>
            </div>

            <div class="form-group message-area">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            
            <div class="form-group checkbox-group">
                <label for="mailing">
                    <input type="checkbox" id="mailing" name="mailing">
                    Please add me to your mailing list
                </label>
            </div>

            <div class="form-group radio-group" id="mailing-format">
                <p class="radio-label">Choose an email format:</p>
                <label for="html-option" class="radio-option">
                    <input type="radio" value="html" name="format" id="html-option" checked>
                    HTML
                </label>
                <label for="text-option" class="radio-option">
                    <input type="radio" value="text" name="format" id="text-option">
                    Text
                </label>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>