<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/1484799.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/style.css">
    <title>Contact Form</title>
</head>
<body>
    <div class="form-container">
        <h1>Contact Form</h1>
        <form action="">
            <div class="form-row">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname">
                </div>
                <div class="form-group">
                    <label for="job-title">Job Title</label>
                    <input type="text" id="job-title" name="job-title">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>
                <div class="form-group">
                    <label for="lnk-in">LinkedIn URL</label>
                    <input type="url" id="lnk-in" name="lnk-in">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group meeting-select">
                    <label for="meeting">How did we meet?</label>
                    <select name="meeting" id="meeting">
                        <option value="">Please select</option>
                        </select>
                </div>
                <div class="form-group meeting-other">
                    <label for="meeting-other">Other (please specify)</label>
                    <input type="text" id="meeting-other" name="meeting-other">
                </div>
            </div>

            <div class="form-group message-area">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            
            <div class="form-group checkbox-group">
                <label for="mailing">
                    <input type="checkbox" id="mailing" name="mailing">
                    Please add me to your mailing list
                </label>
            </div>

            <div class="form-group radio-group">
                <p class="radio-label">Choose an email format:</p>
                <label for="html-option" class="radio-option">
                    <input type="radio" value="html" name="format" id="html-option" checked>
                    HTML
                </label>
                <label for="text-option" class="radio-option">
                    <input type="radio" value="text" name="format" id="text-option">
                    Text
                </label>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>