html {
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
}

body {
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 900px;
    margin: 3rem auto;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 1rem;

    align-items: stretch;
}

.form-group {
    flex: 1; /* all form-groups in a form-row are equal width */
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 1.2;
}

input[type="text"], 
input[type="url"], 
input[type="email"], 
select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%; 
    box-sizing: border-box; /* include padding/border in element's total width */
}

#message {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; /* allow vertical resizing only */
    min-height: 100px; /* set a minimum height */
    box-sizing: border-box;
}

.meeting-select {
    flex: 0 0 calc(50% - 10px);
}

.meeting-other {
    flex: 0 0 calc(50% - 10px);
}

/* Styling for the checkbox group */
.checkbox-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Reset flex properties for single-item rows */
    flex-direction: row; 
    align-items: center; /* Vertically align the text and checkbox */
}

.checkbox-group label {
    display: flex; /* aligning the checkbox with the text */
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 8px;
}

.radio-group {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.radio-group .radio-label {
    font-weight: bold;
    margin: 0 10px 0 0;
}

.radio-group .radio-option {
    margin-right: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 4px;
}

button[type="submit"] {
    background-color: rgb(90, 198, 90);
    color: white;
    border-radius: 4px;
    border: none;
    padding: .6rem 1.5rem;
    cursor: pointer;
    font-size: 16px;
}

.error {
    color: darkred;
    display: none;
}

#mailing-format {
    display: none;
}

#other-meeting-group {
    display: none;
}